@{
    ViewData["Title"] = "Agregar_Empleados";
}

<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="~/css/datatable.css" />

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-3">
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Regresar
            </button>
        </div>
    </div>

    <div class="card-body">
        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
            <div class="mb-3">
                <label class="form-label" for="name">First Name</label>
                <input class="form-control" id="firstname" type="text" placeholder="First Name" data-sb-validations="" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="lastname">Last name</label>
                <input class="form-control" id="lastname" type="text" placeholder="Last Name" data-sb-validations="" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" id="email" type="text" placeholder="Email" data-sb-validations="" />
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" id="password" type="password" placeholder="Password" data-sb-validations="" />
            </div>
        </form>
    </div>
</div>
