@{
    ViewData["Title"] = "Nuevo Empleado";
}

<h1>@ViewData["Title"]</h1>
<br />

@section styles
{
    <link href="~/lib/datatables.net-bs5/datatables.bootstrap5.min.css" rel="stylesheet" />
}

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-3">
            <a asp-controller="Empleado" asp-action="Index" class="btn btn-success">Regresar</a>
        </div>
    </div>

    <div class="card-body">
        <form id="contactForm" asp-controller="Empleado" asp-action="Keep" method="post">
            @if (!ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">
                    @Html.ValidationSummary()
                </div>
            }

            <div class="mb-3">
                <label class="form-label" for="nombre">Nombre</label>
                <input class="form-control" id="nombre" name="Nombre" type="text" placeholder="First Name" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="Apellido">Apellido</label>
                <input class="form-control" id="Apellido" name="Apellido" type="text" placeholder="Last Name" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="NumeroTelefonico">Teléfono</label>
                <input class="form-control" id="NumeroTelefonico" name="NumeroTelefonico" type="text" placeholder="Telephone" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="dui">Dui</label>
                <input class="form-control" id="dui" name="Dui" type="text" placeholder="Document" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="TipoEmpleadoId">Tipo de Empleado</label>
                <select id="TipoEmpleadoId" class="form-control" name="TipoEmpleadoId" required>
                    @foreach (var tipoEmpleado in ViewBag.TipoEmpleados)
                    {
                        <option value="@tipoEmpleado.Id">@tipoEmpleado.Nombre</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="status">Estado</label>
                <select id="estado" class="form-control" name="EsActivo" required>
                    <option value="true">Activo</option>
                    <option value="false">Inactivo</option>
                </select>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts 
{
    <script src="~/lib/datatables.net/datatables.js"></script>
    <script src="~/lib/datatables.net/datatables.min.js"></script>
    <script src="~/lib/datatables.net-bs5/datatables.bootstrap5.min.js"></script>
    <script>let table = new DataTable('#Table');</script>
}
