@{
    ViewData["Title"] = "Nuevo Empleado";
}

<h1>@ViewData["Title"]</h1><br />
<link rel="stylesheet" href="~/css/datatable.css" />

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-md-3">
            <a asp-controller="Empleado" asp-action="Index" class="btn btn-success">Regresar</a>
        </div>
    </div>

    <div class="card-body">
        <form id="contactForm" asp-controller="Empleado" asp-action="Keep" method="post">
            <div class="mb-3">
                <label class="form-label" for="nombre">Nombre</label>
                <input class="form-control" id="nombre" name="Nombre" type="text" placeholder="First Name" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="apellido">Apellido</label>
                <input class="form-control" id="apellido" name="Apellido" type="text" placeholder="Last Name" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="telefono">Teléfono</label>
                <input class="form-control" id="telefono" name="Telefono" type="text" placeholder="Telephone" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="dui">Dui</label>
                <input class="form-control" id="dui" name="dui" type="text" placeholder="Document" required />
            </div>
            <div class="mb-3">
                <label class="form-label" for="typeEmployee">Tipo de Empleado</label>
                <select id="typeEmployee" class="form-control" name="typeEmployee">
                    @foreach (var tipoEmpleado in ViewBag.TipoEmpleados)
                    {
                        <option value="@tipoEmpleado.Id" ()>
                            @tipoEmpleado.Nombre
                        </option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="status">Estado</label>
                <select id="estado" class="form-control" name="status" required>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
            <div class="row mb-3">
                <div class="col-md-3">
                    <button type="submit" class="btn btn-success">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>
