@{
    ViewData["Title"] = "Empleados";
}

<div class="text-center">
    <div class="row">
        <div class="col-12-md">
            <table class="table table-bordered table-striped">
                <thead>
                    <td>Nombre</td>
                    <td>Apellido</td>
                    <td>Teléfono</td>
                    <td>Acciones</td>
                </thead>
                <tbody>
                    @foreach (var Empleado in ViewBag.Empleados)
                    {
                        <tr>
                            <td>@Empleado.Nombre</td>
                            <td>@Empleado.Apellido</td>
                            <td>@Empleado.NumeroTelefonico</td>
                            <td>
                                <button type="button" class="btn btn-danger">Eliminar</button>
                                <button type="button" class="btn btn-warning">Editar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
